@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* Container */
.tlgc{
  position: fixed;
  z-index: 10002;
  bottom: 0; right: 0; left: auto; top: auto;
  content: '';
  padding: 12px;
}

/* Message above icon */
.tlgc .tlgm{
  position: relative;
  font-size: 14px; background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 1px 2px 8px rgba(70,70,70,.25);
  padding: 15px 20px; padding-right: 30px;
  border-radius: 8px;
  color: #525252;
  font-weight: 600;
  margin-bottom: 12px;
  max-width: 450px;
  width: auto;
	display: none;
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-delay: 1s;
}

/* Close button */
.tlgc .tlgm span{ 
	content: ''; 
	position: absolute; 
	width: 10px; 
	height: 10px; 
	right: 15px; 
	top: 15px; 
	left: auto; 
}
.tlgc .tlgm span:hover{ cursor: pointer; }
.tlgc .tlgm span::after{ 
	content: ''; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 10px; 
	height: 2px; 
	background-color: #979797; 
	transform: rotate(45deg); 
}
.tlgc .tlgm span::before{ 
	content: ''; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 10px; 
	height: 2px; 
	background-color: #979797; 
	transform: rotate(-45deg); 
}

/* Button */
.tlgc .telewidget-button{
    content: '';
    width: 48px; height: 48px;
    position: relative;
    float: right;
    display: flex; justify-content: center; align-items: center;
    transition: .1s linear;
	animation-duration: .5s;
	animation-fill-mode: both;
}
.tlgc .telewidget-button::before{ 
    content: ''; position: absolute;
    border-radius: 50%;
    z-index: 10000;
    width: 100%; height: 100%;
    box-shadow: 1px 2px 8px rgba(70,70,70,.25);
}
.tlgc .telewidget-button img{ 
    z-index: 10001;
    transition: .1s linear;
    margin: 0 !important; padding: 0 !important;
    max-width: 100%; 
}
.tlgc .telewidget-button:hover img{
    cursor: pointer;
    transform: scale(1.1);
}

/* POSITION THE WIDGET TO THE LEFT */
.tlgc.left{ left: 0; width: auto; right: initial; }
.tlgc.left .telewidget-button{ float: left; }

/* SHOW WIDGET ON MOBILES DIVICES */
.tlgc.show-message-always .tlgm{ display: block; }

/* Dark theme */
.tlgc.dark .tlgm{
    font-size: 14px; background-color: #081131;
    box-shadow: 1px 2px 8px rgba(70,70,70,.25);
    color: #eeeeee;
}
.tlgc.dark .telewidget-button::before{ 
    box-shadow: 1px 2px 8px rgba(70,70,70,.25);
}
.tlgc.dark .tlgm span::after{ 
	background-color: #e2e2e2; 
}
.tlgc.dark .tlgm span::before{ 
	background-color: #e2e2e2; 
}

/* Tablets */
@media only screen and (min-width : 768px) 
{
    .tlgc .tlgm span{ right: 10px;}
    .tlgc .tlgm{ display: block; }
}

@keyframes zoomIn {
    from {
        transform: scale(.2);
        opacity: 0;
    }
}
@keyframes slide {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
}

/* Classes for animations */
.zoomIn { animation-name: zoomIn; }
.slide { animation-name: slide; }